<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.spring.springproject2.Employee" name="e1">
   <property name='eid'>
   <value>301</value>
   </property>
   <property name='ename'>
   <value>Rahul</value>
   </property>
   <property name='ecity'>
   <value>Goa</value>
   </property>
   
 </bean>
 <bean class="com.spring.springproject2.Employee" name="e2">
   <property name="eid" value="302"/>
   <property name="ename" value="Rohit"/>
   <property name="ecity" value="kholapur"/>
   </bean>
 
 </beans>